<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bit.doore.Sokdaksokdak">

    <uses-permission android:name="android.permission.INTERNET"> </uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- [END gcm_permission] -->

    <!--<permission android:name="com.example.bit_user.bitchatting.permission.C2D_MESSAGE"-->
        <!--android:protectionLevel="signature" />-->
    <!--<uses-permission android:name="com.example.bit_user.bitchatting.permission.C2D_MESSAGE" />-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/talk"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name="com.bit.doore.Sokdaksokdak.Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bit.doore.Sokdaksokdak.Activity.LoginActivity"></activity>
        <activity android:name="com.bit.doore.Sokdaksokdak.Activity.ChatroomActivity"></activity>
        <activity android:name="com.bit.doore.Sokdaksokdak.Activity.JoinActivity"></activity>
        <activity android:name="com.bit.doore.Sokdaksokdak.Unused.MainsrcActivity"></activity>
        <activity android:name="com.bit.doore.Sokdaksokdak.Unused.MainchatActivity"></activity>
        <activity android:name="com.bit.doore.Sokdaksokdak.Unused.SocketchatActivity"></activity>
        <activity android:name="com.bit.doore.Sokdaksokdak.Unused.Confirm"></activity>
        <activity android:name="com.bit.doore.Sokdaksokdak.Activity.MainActivity"></activity>

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.bit_user.bitchatting" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener_service] -->
        <service
            android:name="com.bit.doore.Sokdaksokdak.GCM.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener_service] -->

        <!-- [START instanceId_listener_service] -->
        <service
            android:name="com.bit.doore.Sokdaksokdak.GCM.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener_service] -->

        <!-- [START gcm_registration_service] -->
        <service
            android:name="com.bit.doore.Sokdaksokdak.GCM.RegistrationIntentService"
            android:exported="false">
        </service>
        <!-- [END gcm_registration_service] -->
    </application>



</manifest>
