<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bit_user.bitchatting">

    <uses-permission android:name="android.permission.INTERNET"> </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/talk"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity"></activity>
        <activity android:name=".Activity.ChatroomActivity"></activity>
        <activity android:name=".Activity.JoinActivity"></activity>
        <activity android:name=".Unused.MainsrcActivity"></activity>
        <activity android:name=".Unused.MainchatActivity"></activity>
        <activity android:name=".Unused.SocketchatActivity"></activity>
        <activity android:name=".Unused.Confirm"></activity>
        <activity android:name=".Activity.MainActivity"></activity>
    </application>

</manifest>
